<html>
  <head>
    <title>Maxy's Blog</title>
  </head>
  <body>
      <div>
        <h1><a href="">Maxy's Blog</a></h1>
      </div>

      <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My First Post</a></h2>
        <p>The Internet King? I wonder if he could provide faster nudity… Kids, kids. I'm not going to die. That only happens to bad people. Kids, you tried your best and you failed miserably. The lesson is, never try.</p>
      </div>

      <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My First Post</a></h2>
        <p>The Internet King? I wonder if he could provide faster nudity… Kids, kids. I'm not going to die. That only happens to bad people. Kids, you tried your best and you failed miserably. The lesson is, never try.</p>
      </div>

  </body>
</html>
